<div class="container">

  <div class="row margin-top-50">
    <a href="/authors/add"><button class="btn btn-success btn-sm">Create New Author</button></a>
  </div>


  <div class="row margin-top-10">
    <table class="table" id="AuthorsListTable" cellspacing="0">
      <thead>
        <tr>
          <th> Id </th>
          <th> FirstName </th>
          <th> LastName </th>
          <th> BooksNumber </th>
          <th> Edit </th>
          <th> Delete </th>
          <th> Details </th>
        </tr>
      </thead>
    </table>
  </div>


</div>