<div class="container">

  <div class="col-md-12 margin-top-10">
    <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
  </div>

  <div class="col-md-12">
    <app-author-add-edit [entityId]="selectedEntityId" (clearEntityId)="clearEntityId()"></app-author-add-edit>
  </div>

  <div class="col-md-12">
    <app-author-view [entityId]="showedEntityId" (clearEntityId)="clearEntityId()"></app-author-view>
  </div>

  <div class="col-md-12 margin-top-10">
    <button class="btn btn-success btn-sm" (click)="selectEntityId(-1)">Create New Author</button>
  </div>


  <div *ngIf="ngxDatatableParams && ngxDatatableParams.rows" class="col-md-12 margin-top-10 custom-word-wrap">
    <ngx-datatable class="material" [rows]="ngxDatatableParams.rows" [columns]="ngxDatatableParams.columns" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true" [count]="ngxDatatableParams.count"
      [offset]="ngxDatatableParams.offset" [limit]="ngxDatatableParams.limit" (page)='onPage($event)' (sort)="onSort($event)"
      [loadingIndicator]="loading">
    </ngx-datatable>
  </div>

  <template #idTmpl let-row="row" let-value="value" let-i="index">
    <div class="text-center">
      <a (click)="showEntity(row.Id)" class="btn btn-link">{{value}}</a>
    </div>
  </template>

  <template #optionsTmpl let-row="row" let-value="value" let-i="index">
    <div class="text-center">
      <button (click)="selectEntityId(row.Id)" class="btn btn-warning uppercase">Edit</button>
      <button (click)="deleteEntity(row.Id)" class="btn btn btn-danger uppercase">Delete</button>
    </div>
  </template>


  <div class="col-md-12 text-right">
    <label>View 
                <select class="form-control input-xsmall input-sm input-inline" [(ngModel)]="rowsOnPage" (change)="setRowsOnPage($event.target.value)">
                    <option *ngFor="let pageNumber of pageSelector" [value]="pageNumber">{{pageNumber}}</option>
                </select> records
    </label>
  </div>

</div>