<div *ngIf="errorMessage" class="col-md-12 margin-top-10">
  <p class="alert alert-danger">{{errorMessage}}</p>
</div>

<div *ngIf="successMessage" class="col-md-12 margin-top-10">
  <div class="alert alert-success">{{successMessage}}</div>
</div>

<div *ngIf="haveId && entity && !errorMessage && !successMessage">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 panel panel-default">
      <div class="panel-body">

        <h1 *ngIf="entity" class="page-title margin-top-50">
          <span *ngIf="entity.Id == -1">Add</span><span *ngIf="entity.Id != -1">Edit</span> Book
        </h1>
        <hr />

        <div class="col-md-8 col-md-offset-1">

          <div *ngIf="entity" class="form">
            <form class="form-horizontal" #bookForm="ngForm" (ngSubmit)="save(bookForm)" novalidate="novalidate" autocomplete="off">
              <div class="form-body">

                <div class="form-group" [ngClass]="{'has-error':!Name.valid && bookForm.submitted}">
                  <label class="control-label col-md-4">Name:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="entity.Name" name="Name" #Name="ngModel" maxlength="256" required>
                    <div class="alert alert-danger" *ngIf="Name.errors && Name.errors.required && bookForm.submitted">Please fill out this field.</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!ReleaseDate.valid && bookForm.submitted}">
                  <label class="control-label col-md-4">ReleaseDate:</label>
                  <div class="col-md-8">
                    <datetime [timepicker]="false" class="width-100 margin-right-10 fixed-height-30" type="text" name="ReleaseDate" #ReleaseDate="ngModel"
                      [(ngModel)]="entity.ReleaseDate" required></datetime>
                    <div class="alert alert-danger" *ngIf="ReleaseDate.errors && ReleaseDate.errors.required && bookForm.submitted">Please fill out this field.</div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!Pages.valid && bookForm.submitted}">
                  <label class="control-label col-md-4">Pages:</label>
                  <div class="col-md-8">
                    <input type="number" class="form-control" [(ngModel)]="entity.Pages" name="Pages" #Pages="ngModel" min='1' required>
                    <div class="alert alert-danger" *ngIf="Pages.errors && Pages.errors.required && bookForm.submitted">Please fill out this field.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Rating:</label>
                  <div class="col-md-8">
                    <select class="form-control" name="Rating" [(ngModel)]="entity.Rating" #Rating="ngModel" placeholder="Rating">
                      <option *ngFor="let rating of ratingSelect" [value]="rating.value">{{rating.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Authors:</label>
                  <div class="col-md-8">
                   <ss-multiselect-dropdown [settings]="authorsOptionsSettings" [options]="authorsOptions" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="entity.AuthorsIds"></ss-multiselect-dropdown>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Publisher:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="entity.Publisher" name="Publisher" #Publisher="ngModel" maxlength="100">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">ISBN:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="entity.ISBN" name="ISBN" #ISBN="ngModel" maxlength="100">
                  </div>
                </div>

                <div class="alert alert-danger" *ngIf="errorMessage && bookForm.submitted">{{errorMessage}}</div>

              </div>

              <div class="text-right">
                <div>
                  <button type="button" class="btn btn-default uppercase" (click)="cancel()">Cancel</button>
                  <button type="submit" class="btn btn-success uppercase">
                <span *ngIf="entity.Id == -1">Add</span>
                <span *ngIf="entity.Id != -1">Save</span>
                </button>
                </div>
              </div>

            </form>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>