@model SimpleBookList.Models.BookViewModel
@Scripts.Render("~/bundles/BooksValidation")

@using (Ajax.BeginForm("Create", "Books", null,
                            new AjaxOptions() { HttpMethod = "POST", OnSuccess = "OnCreateSuccess", OnFailure = "OnFailure" }, new { @id = "CreateBookForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Add new Book</h4>
        <hr />
        @{Html.RenderPartial("_partialForm");}
    </div>
}
