<h1 *ngIf="entity" class="page-title margin-top-50">
  <span *ngIf="entity.Id == -1">Add</span><span *ngIf="entity.Id != -1">Edit</span> Author
</h1>
<hr />

<div class="container">

  <div class="col-md-6 col-md-offset-3">


    <div *ngIf="entity" class="form">
      <form class="form-horizontal" #authorForm="ngForm" (ngSubmit)="save(authorForm)" novalidate="novalidate" autocomplete="off">
        <div class="form-body">


          <div class="form-group" [ngClass]="{'has-error':!FirstName.valid && authorForm.submitted}">
            <label class="control-label col-md-4">First Name:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" [(ngModel)]="entity.FirstName" name="FirstName" #FirstName="ngModel" maxlength="256"
                required>
              <div class="alert alert-danger" *ngIf="FirstName.errors && FirstName.errors.required && authorForm.submitted">Please fill out this field.</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!LastName.valid && authorForm.submitted}">
            <label class="control-label col-md-4">Last Name:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" [(ngModel)]="entity.LastName" name="LastName" #LastName="ngModel" maxlength="256"
                required>
              <div class="alert alert-danger" *ngIf="LastName.errors && LastName.errors.required && authorForm.submitted">Please fill out this field.</div>
            </div>
          </div>


          <div class="alert alert-danger" *ngIf="errorMessage && authorForm.submitted">{{errorMessage}}</div>

        </div>


        <div class="text-right">
          <div>
            <a href="/authors/"><button type="button" class="btn btn-default uppercase">Cancel</button></a>
              <button type="submit" class="btn btn-success uppercase">
                <span *ngIf="entity.Id == -1">Add</span>
                <span *ngIf="entity.Id != -1">Save</span>
                </button>
          </div>
        </div>

      </form>

    </div>

    <div *ngIf="successMessage" class="text-center margin-top-50">
      <div class="alert alert-success">{{successMessage}}</div>
      <a href="/authors/"><button type="button" class="btn btn-default uppercase">Return</button></a>
    </div>

  </div>

</div>