<div class="col-md-12 margin-top-10">
  <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
</div>

<div class="margin-top-10" *ngIf="haveId && entity && !errorMessage">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 panel panel-default">
      <div class="panel-body">

        <h2>{{entity.Name}}</h2>
        <hr />
        <dl class="dl-horizontal">
          <dt>
            FirstName:
          </dt>
          <dd>
            <span>{{entity.FirstName}}</span>
          </dd>
          <dt>
            LastName:
          </dt>
          <dd>
            <span>{{entity.LastName}}</span>
          </dd>
          <dt>
            Books Number:
          </dt>
          <dd>
            <span>{{entity.BooksNumber}}</span>
          </dd>
        </dl>

        <div class="text-right">
          <div>
            <button type="button" class="btn btn-default uppercase" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>