@model SimpleBookList.Models.BookViewModel
@Scripts.Render("~/bundles/SetDatepicker")
@Scripts.Render("~/bundles/CancelButton")

<script type="text/javascript">
    // Enable validation manually:
    $.validator.unobtrusive.parse($('#EditBookForm'));
    var val = $("#EditBookForm").validate();
    val.showErrors();
</script>

<form name="EditBookForm" id="EditBookForm" data-ajax="true" >
    <div class="form-horizontal">
        <h4>Edit Book</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @{Html.RenderPartial("_partialForm");}
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

          $("#EditBookForm #ISBN").rules("add", {
            required: {
                depends: function (element) {
                    return $("#Publisher").is(":filled");
                }
            },
            messages: {
                required: "The ISBN field is required when Publisher was entered."
            }
        });
        
        $(function () {
            $("#SubmitBookButton").click(function () {
                EditBookFunc();
            });
        });

        getAllAuthors();

        var hiddenId = $('#EditBookForm #Id');
        var hiddenIdValue = hiddenId.val();

        if (hiddenIdValue && hiddenIdValue != 0) {
            // Получение книги по ajax-запросу
            $.ajax({
                url: '/api/Books/' + hiddenIdValue,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (result) {
                    // Заполнение формы данными о книге:
                    $('#EditBookForm #Name').val(result.Name).change();
                    $('#EditBookForm #ReleaseDate').val(result.FormattedReleaseDate).change();
                    $('#EditBookForm #Pages').val(result.Pages).change();
                    $('#EditBookForm #Rating').val(result.Rating).change();

                    if (result.Publisher) {
                        $('#EditBookForm #Publisher').val(result.Publisher).change();
                    }
                    if (result.ISBN) {
                        $('#EditBookForm #ISBN').val(result.ISBN).change();
                    }

                    var dataArray = new Array(result.Authors.length);
                    result.Authors.forEach(function (item, i, arr) {
                        dataArray[i] = item.Id.toString();
                    });

                    $('.searchableMultiselect').multiSelect('select', dataArray);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        } else {
            alert('Error!!!');
        }
        
    });
</script>