@model SimpleBookList.Models.BookViewModel

@Scripts.Render("~/bundles/BooksValidation")


@using (Ajax.BeginForm(Model.Id.ToString(), "Books", null,
            new AjaxOptions() { HttpMethod = "POST", OnSuccess = "OnEditSuccess", OnFailure = "OnFailure" }, new { @id = "EditBookForm" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Book</h4>
        <hr />


        @Html.HiddenFor(model => model.Id)


        @{Html.RenderPartial("_partialForm");}


    </div>
            }

<script>
    // скрипт для подгрузки данных
    $(document).ready(function () {
        $.ajax({
            url: '/api/Books/@Model.Id',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                //WriteResponse(data);
                var editBookForm = $('#EditBookForm');
                console.log(result);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    });
</script>
